<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport"
	content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
<title>Chordiant Dashboard</title>
</head>
<body class="background">

<p style="font-size:12px; font-family:Calibri ">Hi,<br></br><br></br>
Please find report below:
<br></br><br></br>
</p>

		<div layout:fragment="content"></div>
		
<p style="font-size:12px; font-family:Calibri"><br> </br>
Thanks,<br></br>
ChordiantOps</p>
</body>
</html>
