<html>
    <body>
        <nav th:fragment="header" class="navbar navbar-default navbar-fixed-top" style="margin-bottom: 0;" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <span>
                        <span class="bold">Chordiant</span>
                        <span class="thin">Dashboard</span>
                    </span>
                </a>
            </div>
            <ul class="nav navbar-top-links navbar-right" th:replace="fragments/top_links :: top-links"></ul>
        </nav>
    </body>
</html>
