<html>
<body>
	<ul class="nav navbar-top-links navbar-right" th:fragment="top-links">
	
	   <!-- Reports
		<li class="dropdown"><a href="#" class="dropdown-toggle"
            data-toggle="dropdown" title="Reports"><span>Reports</span> <i class="fa fa-caret-down"></i>
        </a>
            <ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/}">Daily
                </a></li>
                <li><a th:href="@{/reports/weekly}">Weekly
                </a></li>
                <li><a th:href="@{/reports/monthly}">Monthly
                </a></li>
            </ul></li>
         -->

		<!-- Views -->
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown" title="Views"> <span>Weblogic</span> <i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/serverState}">Server State
                </a></li>
                            
			</ul></li>

		<!-- Views -->
		<li class="dropdown"><a href="#" class="dropdown-toggle"
			data-toggle="dropdown" title="Views"> <span>Views</span> <i class="fa fa-caret-down"></i>
		</a>
			<ul class="dropdown-menu" role="menu">
                <li><a th:href="@{/offers}">Offers
                </a></li>
                <li><a th:href="@{/mdm}">MDM
				</a></li>
				<li><a th:href="@{/wls}">WLS
				</a></li>
				<li><a th:href="@{/tps}">TPS
                </a></li>  
				<li><a th:href="@{/getOffers}">Get Offers
                </a></li>  
				<!-- <li><a th:href="@{/availability}">Availability
                </a></li>    -->            
			</ul></li>
			
			<!-- Views -->
        <li class="dropdown"><a href="#" class="dropdown-toggle"
            data-toggle="dropdown" title="Health Checks"> <span>Health Checks</span> <i class="fa fa-caret-down"></i>
        </a>
            <ul class="dropdown-menu" role="menu">
               

                <li><a th:href="@{/databasestatus}">DB Status
                </a></li>
                <li><a th:href="@{/deployment}">Logic Deployments
                </a></li>
                <li><a th:href="@{/viewdetails}">View Details
                </a></li> 
                <li><a th:href="@{/offerdaily}">Offers (last minute)
                </a></li>
                <li><a th:href="@{/mdmdaily}">MDM Daily
                </a></li>
                <li><a th:href="@{/webservices}">Web Services
                </a></li>                
            </ul></li>
			
		<!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                <!-- 
                    <li>
                        <a th:href="@{/myprofile}"><i class="fa fa-user fa-fw"></i>User Profile</a>
                    </li>
                    <li>
                        <a href="#"> <i class="fa fa-gear fa-fw"></i>Settings</a>
                    </li>
                    <li class="divider"></li>
                    -->
                    <li>
                        <a th:href="@{/logout}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
	</ul>
</body>
</html>
