<html layout:decorator="layouts/navbar_layout">
<body>
    <th:block layout:fragment="content">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <i class="fa fa-tachometer"></i><span>TPS</span>
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="formContainer">
                        <form class="form-horizontal" th:action="@{/tps}"
                            th:object="${criteriaView}" id="criteriaView" method="post"
                            role="form">

                            <div
                                th:class="form-group">
                                <label for="startDate" class="col-sm-2 control-label"
                                    th:text="#{criteriaView.startDate}"></label>
                                <div class="col-sm-4">
                                    <div id="start-date" class="input-group date"
                                        data-date-format="YYYY-MM-DD">
                                        <input type="text" th:field="*{startDate}"
                                            class="form-control" placeholder="YYYY-MM-DD" /> <span
                                            class="input-group-addon"> <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div
                                th:class="form-group">
                                <label for="endDate" class="col-sm-2 control-label"
                                    th:text="#{criteriaView.endDate}"></label>
                                <div class="col-sm-4">
                                    <div id="end-date" class="input-group date"
                                        data-date-format="YYYY-MM-DD">
                                        <input type="text" th:field="*{endDate}" class="form-control"
                                            placeholder="YYYY-MM-DD" /> <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
							<div th:class="form-group">
								<label for="intervals" class="col-sm-2 control-label">Intervals</label>
								<div class="col-sm-4">
									<select th:field="*{intervals}" class="form-control">
										<option th:value="monthly">Monthly</option>
										<option th:value="daily">Daily</option>
										<!--<option th:value="halfHour">30 Minutes</option> -->
										<option th:value="hourly">Hourly</option>
										<option th:value="minute">1 Minute</option>
									</select>
								</div>
							</div>

                            <div class="form-group">
                                <label for="startTime" class="col-sm-2 control-label">Start
                                    Time</label>
                                <div class="col-sm-4 input-group"
                                    style="padding: 0 15px 0 15px;">
                                    <input type="text" th:field="*{startTime}" class="form-control" />
                                    <span class="input-group-addon"> <i class="fa fa-info"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="endTime" class="col-sm-2 control-label">End
                                    Time</label>
                                <div class="col-sm-4 input-group"
                                    style="padding: 0 15px 0 15px;">
                                    <input type="text" th:field="*{endTime}" class="form-control" />
                                    <span class="input-group-addon"> <i class="fa fa-info"></i>
                                    </span>
                                </div>
                            </div>

                            <div th:class="form-group">
                                <button type="submit" class="btn btn-primary"
                                    style="float: centre;">View</button>
                            </div>

                        </form>

                    </div>
                </div>
               <div class="col-lg-12">
                    <div id="chart2"
                        style="margin-top: 20px; margin-left: 40px; width: 100%; height: 100%"></div>
                </div>
             </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="j4ugraphcontainer" style="width: 100%; height: 600px"></div>
                </div>
            </div>
              
            <div class="row">
                <div class="col-lg-12">
                    <div id="ppfegraphcontainer" style="width: 100%; height: 600px"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div id="ccrgraphcontainer" style="width: 100%; height: 600px"></div>
                </div>

            </div>


        </div>

        <script th:inline="javascript">        
        /*<![CDATA[*/
        $(function() {
        	
            var ussdTransactionList = /*[[${ussdViews}]]*/;
            var ccrTransactionList = /*[[${ccrViews}]]*/;
            var ppfeTransactionList = /*[[${ppfeViews}]]*/;
            
            $('#start-date').datetimepicker({
                useCurrent : true,
                icons : {
                    date : 'fa fa-calendar'
                },
                pickTime : false,
                showToday : true
            });

            $('#end-date').datetimepicker({
                useCurrent : true,
                icons : {
                    date : 'fa fa-calendar'
                },
                pickTime : false,
                showToday : true
            });            
            var intervalsSelect = $('#intervals');
            
            intervalsSelect.selectbox('attach');
            if(ussdTransactionList != null) {
            	var intervals = [], transactionVolumes = [], tps = [], maxtps = [];
                
                $.each(ussdTransactionList, function(i,tpsCountView){                        
                    //highcharts
                    intervals.push(tpsCountView.ts);
                    transactionVolumes.push(tpsCountView.amount);
                    tps.push(tpsCountView.tps);
                    maxtps.push(tpsCountView.maxTps);                         
                                            
                });                
                $('#j4ugraphcontainer')
                .highcharts(
                    {
                        chart : {
                            zoomType : 'xy',
                            events: {
                                addSeries: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                },
                                load: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                }
                              }
                        },
                        title : {
                            text : 'USSD Count statistics'
                        },
                        subtitle : {
                            text : 'Source: CDM_KPI Database'
                        },
                        xAxis : [ {
                            categories : intervals,
                            labels : {
                                overflow: false,
                                rotation: -90,
                                align: 'right',
                                style: {
                                    lineHeight: 10
                                }
                            },
                            events: {
                                setExtremes: function (event) {
                                  if (Math.abs(this.options.labels.rotation) == 90) {
                                    var labelWidth = parseInt(this.options.labels.style.lineHeight) + 2;
                                    var plotAreaWidth = parseInt(this.chart.plotBox.width);
                                    var labelsCount = Math.floor(plotAreaWidth / labelWidth);
                                    if (event.max !== null && event.max !== undefined) {
                                      var pointsCount = Math.round(event.max - event.min);
                                    } else {
                                      var pointsCount = Math.round(this.dataMax - this.dataMin);
                                    }
                                    var step = Math.ceil(pointsCount / (labelsCount * (this.tickInterval == null ? 1 : this.tickInterval)));
                                    this.update({'labels': {'step': step}}, true);
                                  }
                                }
                              }
                        } ],
                        yAxis : [
                                { // Primary yAxis
                                    labels : {
                                        format : '{value} n',
                                        style : {
                                            color : '#0066FF'
                                            /* Highcharts
                                                    .getOptions().colors[2] */
                                        }
                                    },
                                    title : {
                                        text : 'Transaction Count',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : false

                                },
                                { // Secondary yAxis
                                    gridLineWidth : 0,
                                    title : {
                                        text : 'Transactions per second',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    labels : {
                                        format : '{value} ',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : true

                                }],
                        tooltip : {
                            shared : true
                        },                                
                        series : [
                                {
                                    name : 'Transaction Count',
                                    type : 'column',
                                    yAxis : 0,
                                    data : transactionVolumes,
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'TPS',
                                    color: 'brown',
                                    type : 'line',
                                    yAxis : 1,
                                    data : tps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'MaxTPS',
                                    color: 'green',
                                    type : 'line',
                                    dashStyle: 'ShortDot',
                                    yAxis : 1,
                                    data : maxtps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                }]
                    });
            }
            
            
            if(ppfeTransactionList != null) {
            	var intervals = [], transactionVolumes = [], tps = [], maxtps = [];
                
                $.each(ppfeTransactionList, function(i,tpsCountView){                        
                    //highcharts
                    intervals.push(tpsCountView.ts);
                    transactionVolumes.push(tpsCountView.amount);
                    tps.push(tpsCountView.tps);
                    maxtps.push(tpsCountView.maxTps);                         
                                            
                });                
                $('#ppfegraphcontainer')
                .highcharts(
                    {
                        chart : {
                            zoomType : 'xy',
                            events: {
                                addSeries: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                },
                                load: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                }
                              }
                        },
                        title : {
                            text : 'PPFE Count statistics'
                        },
                        subtitle : {
                            text : 'Source: CDM_KPI Database'
                        },
                        xAxis : [ {
                            categories : intervals,
                            labels : {
                                overflow: false,
                                rotation: -90,
                                align: 'right',
                                style: {
                                    lineHeight: 10
                                }
                            },
                            events: {
                                setExtremes: function (event) {
                                  if (Math.abs(this.options.labels.rotation) == 90) {
                                    var labelWidth = parseInt(this.options.labels.style.lineHeight) + 2;
                                    var plotAreaWidth = parseInt(this.chart.plotBox.width);
                                    var labelsCount = Math.floor(plotAreaWidth / labelWidth);
                                    if (event.max !== null && event.max !== undefined) {
                                      var pointsCount = Math.round(event.max - event.min);
                                    } else {
                                      var pointsCount = Math.round(this.dataMax - this.dataMin);
                                    }
                                    var step = Math.ceil(pointsCount / (labelsCount * (this.tickInterval == null ? 1 : this.tickInterval)));
                                    this.update({'labels': {'step': step}}, true);
                                  }
                                }
                              }
                        } ],
                        yAxis : [
                                { // Primary yAxis
                                    labels : {
                                        format : '{value} n',
                                        style : {
                                            color : '#0066FF'
                                            /* Highcharts
                                                    .getOptions().colors[2] */
                                        }
                                    },
                                    title : {
                                        text : 'Transaction Count',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : false

                                },
                                { // Secondary yAxis
                                    gridLineWidth : 0,
                                    title : {
                                        text : 'Transactions per second',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    labels : {
                                        format : '{value} ',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : true

                                }],
                        tooltip : {
                            shared : true
                        },                                
                        series : [
                                {
                                    name : 'Transaction Count',
                                    type : 'column',
                                    yAxis : 0,
                                    data : transactionVolumes,
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'TPS',
                                    color: 'brown',
                                    type : 'line',
                                    yAxis : 1,
                                    data : tps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'MaxTPS',
                                    color: 'green',
                                    type : 'line',
                                    dashStyle: 'ShortDot',
                                    yAxis : 1,
                                    data : maxtps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                }]
                    });
            }
            if(ccrTransactionList != null) {
            	var intervals = [], transactionVolumes = [], tps = [], maxtps = [];
                
                $.each(ccrTransactionList, function(i,tpsCountView){                        
                    //highcharts
                    intervals.push(tpsCountView.ts);
                    transactionVolumes.push(tpsCountView.amount);
                    tps.push(tpsCountView.tps);
                    maxtps.push(tpsCountView.maxTps);                         
                                            
                });                
                $('#ccrgraphcontainer')
                .highcharts(
                    {
                        chart : {
                            zoomType : 'xy',
                            events: {
                                addSeries: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                },
                                load: function() {
                                  var c = this;
                                  setTimeout(function(){c.xAxis[0].setExtremes(c.xAxis[0].dataMin, c.xAxis[0].dataMax)}, 10);
                                }
                              }
                        },
                        title : {
                            text : 'CCR Count statistics'
                        },
                        subtitle : {
                            text : 'Source: CDM_KPI Database'
                        },
                        xAxis : [ {
                            categories : intervals,
                            labels : {
                                overflow: false,
                                rotation: -90,
                                align: 'right',
                                style: {
                                    lineHeight: 10
                                }
                            },
                            events: {
                                setExtremes: function (event) {
                                  if (Math.abs(this.options.labels.rotation) == 90) {
                                    var labelWidth = parseInt(this.options.labels.style.lineHeight) + 2;
                                    var plotAreaWidth = parseInt(this.chart.plotBox.width);
                                    var labelsCount = Math.floor(plotAreaWidth / labelWidth);
                                    if (event.max !== null && event.max !== undefined) {
                                      var pointsCount = Math.round(event.max - event.min);
                                    } else {
                                      var pointsCount = Math.round(this.dataMax - this.dataMin);
                                    }
                                    var step = Math.ceil(pointsCount / (labelsCount * (this.tickInterval == null ? 1 : this.tickInterval)));
                                    this.update({'labels': {'step': step}}, true);
                                  }
                                }
                              }
                        } ],
                        yAxis : [
                                { // Primary yAxis
                                    labels : {
                                        format : '{value} n',
                                        style : {
                                            color : '#0066FF'
                                            /* Highcharts
                                                    .getOptions().colors[2] */
                                        }
                                    },
                                    title : {
                                        text : 'Transaction Count',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : false

                                },
                                { // Secondary yAxis
                                    gridLineWidth : 0,
                                    title : {
                                        text : 'Transactions per second',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    labels : {
                                        format : '{value} ',
                                        style : {
                                            color : '#0066FF'
                                                /* Highcharts
                                                .getOptions().colors[2] */
                                        }
                                    },
                                    opposite : true

                                }],
                        tooltip : {
                            shared : true
                        },                                
                        series : [
                                {
                                    name : 'Transaction Count',
                                    type : 'column',
                                    yAxis : 0,
                                    data : transactionVolumes,
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'TPS',
                                    color: 'brown',
                                    type : 'line',
                                    yAxis : 1,
                                    data : tps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }

                                },
                                {
                                    name : 'MaxTPS',
                                    color: 'green',
                                    type : 'line',
                                    dashStyle: 'ShortDot',
                                    yAxis : 1,
                                    data : maxtps,
                                    marker : {
                                        enabled : false
                                    },
                                    tooltip : {
                                        valueSuffix : ''
                                    }
                                }]
                    });
            }
        });
        /*]]>*/
            
        </script>
    </th:block>
</body>
</html>
